@{

}
<h1>@ViewData["Title"]</h1>

<p><h3>Yeni etkinlikler eklemek için tıklayınız.</h3></p>
    <a class="btn btn-lg btn-outline-success" asp-controller="Activities" asp-action="Create">Yeni Etkinlik Ekle</a>

